<div id="<%= dom_id seriado %>">
  <p>
    <strong>Nome:</strong>
    <%= seriado.nome %>
  </p>

  <p>
    <strong>Datadelancamento:</strong>
    <%= seriado.DataDeLancamento %>
  </p>

  <p>
    <strong>Episodio:</strong>
    <%= seriado.episodio %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= seriado.description %>
  </p>

  <p>
    <strong>Diretor:</strong>
    <%= seriado.diretor %>
  </p>

</div>
