<div id="<%= dom_id serie %>">
  <p>
    <strong>Nome:</strong>
    <%= serie.nome %>
  </p>

  <p>
    <strong>Datadelancamento:</strong>
    <%= serie.DataDeLancamento %>
  </p>

  <p>
    <strong>Episodio:</strong>
    <%= serie.episodio %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= serie.description %>
  </p>

  <p>
    <strong>Diretor:</strong>
    <%= serie.diretor %>
  </p>

</div>
